body
{
    background: url(http://www.mrwallpaper.com/wallpapers/taipei-city.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

h1 h2 h3 h4 h5
{
    font-family: font-family: 'Oswald', sans-serif;
}

#backgroundBox
{
    height: 150px;
    width: 100%;
    background: rgba(255,255,255,0.9);
    margin-top: 90px;
    margin-bottom: 1%;
    border-radius: 30px;
}

#name
{
    font-size: 100px;
    font-family: fantasy;
    margin-left: 2%;
        
}

.navbar
{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    height: 80px;
}

.navButton
{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
}

.navbar-nav li a
{
    line-height: 80px;
    font-family: 'Ubuntu', sans-serif;
}

.box
{
    width: 100%;
    height: auto;
    margin-top: 1%;
    background: rgba(255,255,255,0.9);
    margin-bottom: 5%;
    min-height: 500px;
    border-radius: 20px;
}

p
{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

#linkedInBtn
{
    font-size: 30px;
    border-bottom-style: solid;
    border-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.BlogPostBox .AboutMeBox
{
    height:auto;
    font-size: 30px;
    
}
.date
{
    font-size: 20px;
    color: gray;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 90%;
}